<div>
    <p style="font-size: 25px;">H! <%= user._doc.FirstName %></p>
    <br>
    <br>
    <p style="font-size: 20px;">
        Your new password is <strong><%= user.pass %></strong>
    </p>
    <p>
        Login link : <a href="http://theak.live/users/sign-in">http://theak.live/users/sign-in</a>
    </p>
    <p>
        <strong style="font-size: 14px;">Note: </strong>Please change your password after using this credentials.
    </p>
    
</div>