<div>
    <p style="font-size: 25px;">H! <%= user._doc.FirstName %></p>
    <br>
    <br>
    <p>
        Your new password is <strong><%= user.pass %></strong>
    </p>
    <br>
    <p>
        <strong>Note: </strong>Please change your password after using this credentials.
    </p>
    
</div>