<div>
    <p>H! <%= user.FirstName %></p>
    <br>
    <br>
    <p>
        Your new password is <strong><%= user.password %></strong>
    </p>
    <br>
    <p>
        <strong>Note: </strong>Please change your password after using this credentials.
    </p>
    
</div>