<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/home.css">
  <title><%= locals.title %></title>
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>Welcome to Nodejs Authentication Website</h1>
    </header>
    <main>
      <section>
        <p>Thank you for visiting our site. This website is built upon nodejs and we demonstrated few authention mechanism like creds and social login.</p>
      </section>
      <section>
        <h2>Site Map</h2>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/users/profile">Profile</a></li>
          <li><a href="/users/sign-in">Sign In</a></li>
          <li><a href="/users/sign-up">Sign Up</a></li>
        </ul>
      </section>
    </main>
  </div>
  <footer>
    <p>&copy; 2023 Nodejs Authentication Website. All rights reserved.</p>
  </footer>
</body>
</html>
