<div class="create-account">
    <h2>Login</h2>
    <form action="/users/create-session" method="POST">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <input type="submit" value="Sign In">
      </div>
      
    </form>
    <div class="google-authentication">
        <a href="/users/auth/google">google sign In/Up</a>
    </div>
    <div class="form-group forgot-password">
        <a href="/users/password/forgot">Forgot password?</a>
      </div>
  </div>